tools/*.wav
*.nsi
windows/*.zip
windows/*.tar.xz
windows/pkg/
windows/src
PKGBUILD
*.dll
packages/
src/pydaw/musikernel*.so
*.exe
callgrind.out.*
cachegrind.out.*
tags
*.rpm
ubuntu/pydaw_os/*zip
ubuntu/pydaw_os/VirtualBox*
src/pydaw/locale/goo/
src/pydaw/locale/goo.tranz
src/pydaw/locale/bin/
main.su
fedora/*.ks
fedora/cache/
*.spec
src/sbsms/Makefile
src/sbsms/cli/sbsms
src/sbsms/config.status
src/sbsms/libsbsms.spec
src/sbsms/libtool
src/sbsms/sbsms.pc
src/sbsms/src/Makefile
src/sbsms/src/config.h
src/sbsms/src/stamp-h1
src/pydaw/pyliblo-0.9.2/build/
src/pydaw/python/libpydaw/*.so
src/pydaw/python/libpydaw/*.dll
src/pydaw/portaudio/Makefile
src/pydaw/portaudio/bin-stamp
src/pydaw/portaudio/bin/
src/pydaw/portaudio/bindings/cpp/bin/
src/pydaw/portaudio/config.status
src/pydaw/portaudio/lib-stamp
src/pydaw/portaudio/libtool
src/pydaw/portaudio/portaudio-2.0.pc
ubuntu/pydaw_os/pydaw*.ova
src/pydaw/musikernel*-engine*
src/pydaw/dir_debug
*.tar.gz
ubuntu/pydaw_os/edit
ubuntu/pydaw_os/extract-cd
ubuntu/pydaw_os/mnt
ubuntu/pydaw_os/md5sum.txt
*.iso
src/pydaw/*.pymap
src/pydaw/profile.txt
*.project
*.cproject
src/pydaw/python/libpydaw/history_test*
src/pydaw/gmon.out
src/pydaw/profiling.txt
ubuntu/debian/DEBIAN/control
ubuntu/debian/DEBIAN/md5sums
tools/wavetable_maker/wavs/*.wav
tools/wavetable_maker/wt.h
tools/wavetable_maker/test.txt
src/way_v/WAY_V_qt
tools/wavetable_maker/wtgen
src/pydaw/*.wav
src/build-suffix.txt
src/pydaw_jack_oscrolloscope/pydaw_jack_oscrolloscope
*.pyc
*.qm
ubuntu/debian/usr
src/maintainer.txt
*nbproject*
*.o
*.la
*.lo
*~
src/pydaw/test.wav.finished
*.log
*.libs*
*.deps*
*GNU-amd64-Linux*
*.deb
*.moc.cpp
*deps_installed.txt
*/build/*
