Source: musikernel2
Section: sound
Priority: optional
Maintainer: MusiKernel Team <musikernel@gmail.com>
Build-Depends: debhelper (>= 8.0.0), build-essential, g++, libasound2-dev, liblo-dev, libsndfile1-dev, libportmidi-dev, portaudio19-dev, python3-pyqt5, python3-dev, python3-numpy, rubberband-cli, libfftw3-dev
Standards-Version: 3.9.4
Homepage: https://github.com/j3ffhubb/musikernel
#Vcs-Git: git://git.debian.org/collab-maint/musikernel2.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/musikernel2.git;a=summary

Package: musikernel2
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, libasound2-dev, liblo-dev, libsndfile1-dev, libportmidi-dev, portaudio19-dev, python3-pyqt5, python3, python3-numpy, rubberband-cli, libfftw3-dev, ffmpeg, lame, vorbis-tools
Description: MusiKernel is hosts/DAWs, instrument and effect plugins.
 MusiKernel is a powerful all-in-one suite of music production tools, and a complete open source framework for developing any type of audio application.
